<div class="toolbar bg-purple-500 text-white w-full flex h-16 justify-center" role="banner">
  <div class="items-center lg:w-3/5 w-full flex px-2">
    <a routerLink="/" routerLinkActive="active"><img alt="Castle Korfball logo" src="/assets/castle_logo.png" class="h-12 aspect-square mr-5"/></a> 
    <div class="md:justify-start justify-around flex min-w-fit md:space-x-5 items-center grow">
      <a routerLink="/training" routerLinkActive="active" class="transition ease-in-out duration-300 hover:text-purple-100">Training</a>
      <a routerLink="/membership" routerLinkActive="active" class="transition ease-in-out duration-300 hover:text-purple-100">Membership</a>
      <a routerLink="/contact" routerLinkActive="active" class="transition ease-in-out duration-300 hover:text-purple-100">Contact</a>
    </div>
    <div class="justify-end space-x-5 items-center hidden md:flex text-xl">
      <a href="https://www.facebook.com/castlekorf" alt="Castle Korfball Facebook"><i class="fa-brands fa-facebook transition ease-in-out duration-300 hover:text-purple-100"></i></a>
      <a href="https://www.instagram.com/castlekorf" alt="Castle Korfball Instagram"><i class="fa-brands fa-instagram transition ease-in-out duration-300 hover:text-purple-100"></i></a>
      <a href="https://www.twitter.com/castlekorf" alt="Castle Korfball Twitter"><i class="fa-brands fa-twitter transition ease-in-out duration-300 hover:text-purple-100"></i></a>
    </div>

  </div>
</div>