<div class="mb-6">
<div class="relative my-6 md:bg-transparent bg-purple-500 group">
    <img alt="Castle Korfball hero image" src="./assets/castle_hero.png" class="object-contain blur-sm md:visible invisible group-hover:blur-none transition ease-in duration-200"/>

    <div class="flex justify-center md:group-hover:opacity-0 transition ease-in duration-200">
        <h1 class="absolute md:text-9xl text-6xl text-white top-1/2 -translate-y-1/2 font-accent">Castle Korfball</h1>
    </div>
</div>
<h2 class="font-bold text-xl">About us</h2>
<p class="mb-2">Founded in 1993, Castle Korfball is the oldest korfball club in the North West of England. We are based in Newcastle-under-Lyme (near Stoke-on-Trent), and currently compete in the West Midlands Korfball League alongside teams from Keele and Birmingham.</p>
<p>New players are always welcome, whether you have played korfball before or are a complete beginner. We are a friendly, mixed-gender, mixed-age group, aiming to keep fit, win matches, and have fun doing it. Come along to a Tuesday <a  routerLink="/training" routerLinkActive="active" class="text-purple font-bold transition ease-in-out duration-300 hover:text-purple-500">training session</a> (free for newcomers) and give it a go for yourself!</p>
</div>
<div class="block md:hidden">
    <hr/>
    <div class="justify-around flex text-4xl text-gray-400 mt-6">
        <a href="https://www.facebook.com/castlekorf" alt="Castle Korfball Facebook"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.instagram.com/castlekorf" alt="Castle Korfball Instagram"><i class="fa-brands fa-instagram" alt=""></i></a>
        <a href="https://www.twitter.com/castlekorf" alt="Castle Korfball Twitter"><i class="fa-brands fa-twitter"></i></a>
    </div>
</div>