<h2 class="font-bold text-3xl my-6">Contact</h2>
<div>
    <p class="mb-6">To get in touch with the club, please send us a message through any of the below channels. Follow us on social media to keep updated with club events and news.</p>
    <div class="flex md:justify-around gap-6 flex-col md:flex-row">
        <a href="https://www.facebook.com/castlekorf" alt="Castle Korfball Facebook">
            <div class="border border-gray-400 flex divide-x divide-gray-400 h-12 rounded-lg overflow-hidden w-fit h-fit mb-2 group">
                <div class="bg-purple-500 aspect-square text-white text-3xl items-center justify-center flex p-2 w-12">
                    <i class="fa-brands fa-facebook"></i>
                </div>
                <div class="items-center flex p-2 group-hover:bg-purple-300 transition ease-in-out duration-200">
                    <p class="font-bold group-hover:text-white">castlekorf</p>
                </div>
            </div>
        </a>

        <a href="https://www.instagram.com/castlekorf" alt="Castle Korfball Instagram">
            <div class="border border-gray-400 flex divide-x divide-gray-400 h-12 rounded-lg overflow-hidden w-fit h-fit mb-2 group">
                <div class="bg-purple-500 aspect-square text-white text-3xl items-center justify-center flex w-12 p-2">
                    <i class="fa-brands fa-instagram"></i>
                </div>
                <div class="items-center flex p-2 group-hover:bg-purple-300 transition ease-in-out duration-200">
                    <p class="font-bold group-hover:text-white">@castlekorf</p>
                </div>  
            </div>
        </a>
        <a href="https://www.twitter.com/castlekorf" alt="Castle Korfball Twitter">
            <div class="border border-gray-400 flex divide-x divide-gray-400 h-12 rounded-lg overflow-hidden w-min h-fit mb-2 group">
                <div class="bg-purple-500 aspect-square text-white text-3xl items-center justify-center flex w-12 p-2">
                    <i class="fa-brands fa-twitter"></i>
                </div>
                <div class="items-center flex p-2 group-hover:bg-purple-300 transition ease-in-out duration-200">
                    <p class="font-bold group-hover:text-white">@castlekorf</p>
                </div>
            </div>
        </a>
        <a href="mailto:castlekc@hotmail.com" alt="Castle Korfball email">
            <div class="border border-gray-400 flex divide-x divide-gray-400 h-12 rounded-lg overflow-hidden w-min h-fit mb-2 group">
                <div class="bg-purple-500 aspect-square text-white text-3xl items-center justify-center flex w-12 p-2">
                    <i class="fa-solid fa-at group-hover:text-white"></i>
                </div>
                <div class="items-center flex p-2 group-hover:bg-purple-300 transition ease-in-out duration-200">
                    <p class="font-bold group-hover:text-white">castlekc@hotmail.com</p>
                </div>
            </div>
        </a>
    </div>
</div>

