<h2 class="font-bold text-3xl my-6">Training</h2>
<div>
<img src="../../assets/castle_training.png" class="float-right w-2/5 ml-6 hidden md:block" alt="Training session"/>
<h3 class="font-bold text-xl">What?</h3>
<p class="mb-2">Training sessions involve drills to develop your skills, coaching on strategy, and practice games to put it all together. No experience is needed, our coaches are always happy to teach the fundamentals of korfball - you'll be scoring goals in no time!</p>
<h3 class="font-bold text-xl">When?</h3>
<p class="mb-2">Weekly on Tuesdays, 8-10pm, all year round.</p>
<h3 class="font-bold text-xl">Where?</h3>
<p class="mb-2">Sports hall in the Gordon Banks Sport Centre (Newcastle College).</p>
<h4 class="font-bold">Address</h4>
<div class="mb-2">
    <p>Gordon Banks Sport Centre</p>
    <p>Knutton Lane</p>
    <p>Newcastle-under-Lyme</p>
    <p>Staffordshire</p>
    <p>ST5 2GB</p>
</div>
<h4 class="font-bold">Parking</h4>
<p class="mb-2">Parking is free in the car park on the left as you turn into the Sports Centre. Buzz through to the sports reception at the barrier to let them know you are there for korfball.</p>
<h3 class="font-bold text-xl">How?</h3>
<p class="mb-2">If it's your first time, <a routerLink="/membership" routerLinkActive="active" class="font-bold transition ease-in-out duration-300 hover:text-purple-500">get in touch</a> (via one of our social media channels or email) to let us know you're coming. All you'll need on the day is clothing you can move around in comfortably and a water bottle - we'll provide the rest!</p>
<h3 class="font-bold text-xl">How much?</h3>
<p>Your first three sessions are free, after which you can either purchase monthly <a routerLink="/membership" routerLinkActive="active" class="font-bold transition ease-in-out duration-300 hover:text-purple-500">club membership</a> or pay as you go (£6/session).</p>
</div>