<h2 class="font-bold text-3xl my-6">Membership</h2>
<div>
<h3 class="font-bold text-xl">Monthly membership</h3>
<p class="mb-2">Membership is £20 per month (£10 for concessions).</p>
<p class="mb-2">Monthly club membership dues cover all training sessions and league match fees for the month. Payments are made via standing order – the club treasurer can provide bank details.</p>
<h3 class="font-bold text-xl">Pay as you go</h3>
<p class="mb-2">Training sessions and match fees are £6 per session/fixture (£3 for concessions). Payments can be made via online bank transfer or in cash to the club treasurer – please ensure you have exact change for cash payments.</p>
<h3 class="font-bold text-xl">Concessions</h3>
<p class="mb-2">Reduced fees are available for full-time students and jobseekers.</p>
<h3 class="font-bold text-xl">Membership restrictions</h3>
<p>Members must be aged 14 or greater.</p>
</div>